body, html {
    min-width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('image\ 12.png') no-repeat center center fixed; /* 배경 이미지 설정 */
    background-size: 100% 100%;
    color: #fff;
    display: flex;
    flex-direction: column; /* 세로 방향 정렬 */
    justify-content: center;
    align-items: center;
    overflow: auto;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 어두운 반투명 배경 */
    z-index: 1;
}

.slide {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* 세로 방향 정렬 */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: nowrap; /* 줄바꿈 방지 */
}

.slide_item {
    width: 100%;
    height: 100%;
    flex-shrink: 0; /* 크기 축소 방지 */
}

.container {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-align: center;
    max-width: 1200px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* 컨테이너를 중앙으로 정렬 */
    flex-wrap: nowrap; /* 줄바꿈 방지 */
    margin-bottom: 100px;
}

.header {
    color: #fff;
    margin-top: 0.5em;
    width: 100%;
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 0.5em;
    flex-shrink: 0; /* 크기 축소 방지 */
}

.header a{
    color: #FFF;
    text-decoration: none;
}

.main-content {
    display: flex;
    width: 130%;
    justify-content: center;
    align-items: center;
    top: -50px;
    gap: 20px;
    flex-wrap: nowrap; /* 줄바꿈 방지 */
    overflow: hidden;
}

.left-section {
    text-align: left;
    flex: 2;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0; /* 크기 축소 방지 */
    overflow: hidden;
    gap: 50px;
}
.otherThanImages{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	flex: 3;
}

#image-section {
	margin-right: 50px;
    perspective: 15px;
    width: 400px;
    height: 500px;
    flex-shrink: 0; 
    flex: 2;
}

.left-section img {
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    order: 2;
    width: 100%;
    height: 100%;
    flex-shrink: 0; 
}

.year {
    padding: 10px;
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    transition: top 0.3s; /* 애니메이션 추가 */
    flex-shrink: 0; /* 크기 축소 방지 */
}

.movie-title {
    position: relative;
    z-index: 3;
    height: auto;
    margin: 10px 0px;
    font-family: Inter;
    font-size: calc(2vw + 40px);
    font-style: italic;
    color: #FFF;
    font-weight: 700;
    line-height: normal;
    word-break: break-all; 
    transition: top 0.3s, font-size 0.3s;
    flex-shrink: 0; /* 크기 축소 방지 */
    width: 100%;
}

.button-container {
	margin: 20px 0;
    width: 300px;
    display: flex;
    transition: top 0.3s; /* 애니메이션 추가 */
    flex-shrink: 0; /* 크기 축소 방지 */
}

.button {
    padding: 10px 20px;
    background-color: #FFF;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #0056b3;
}

.right-section {
    text-align: left;
    flex: 1;
    flex-shrink: 0; /* 크기 축소 방지 */
}

.description {
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
    flex-shrink: 0; /* 크기 축소 방지 */
}

.navigation {
    padding: 20px 10px;
    margin-right: 20px;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    position: absolute;
    margin-top: 10px;
    bottom: 10px;
    flex-shrink: 0; /* footer는 크기를 줄이지 않도록 설정 */
}

.navigation a {
    color: #fff;
    text-decoration: none;
    bottom: 20px;
}

.navigation a:hover {
    text-decoration: underline;
}

.slide_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.slide_prev_button {
    left: 10px;
}

.slide_next_button {
    right: 10px;
}

.slider__dot {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.slider__dot .dot {
    width: 20px;
    height: 20px;
    background-color: #bbb;
    display: inline-block;
    border-radius: 50%;
    margin: 2px;
}

.slider__dot .dot.active {
    background: rgba(255,255,255,0.9);
}