<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="https://kit.fontawesome.com/664a7b3827.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" th:href="@{/main.css}">
</head>

<body>
	<div class="overlay"></div>
	<div class="container">
		<div class="header">What Is This Movie?</div>
		<div class="subheader">Instant movie identification powered by the world's largest collection of movie</div>
		<div class="input-container">
			<form th:action="@{/}" id="uploadForm" method="post" enctype="multipart/form-data" onsubmit="return validateFileInput()">
				<input type="file" name="file" id="fileInput" accept="image/*"
					placeholder="Type or paste your image URL here..." onchange="readURL(this)">
				<input type="submit" value="or upload an image">
			</form>
		</div>
		<div>or drag and drop an image anywhere on the page</div>
	</div>
	<div>
		<img id="preview" />
	</div>
	<div class="navigation">
		<a th:href="@{/faq}">FAQ</a>
	</div>

	<script th:src="@{/main.js}"></script>
</body>

</html>